NEXT_PUBLIC_PHONE_NUMBER=

NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=


DOKPLOY_API_KEY=
DOKPLOY_SERVER_URL=
DOCKPLOY_PROJECT_ID=
DOCKPLOY_ENVIRONMENT_ID=


DB_USER=
DB_PASSWORD=
DB_HOST=
DB_PORT=
DB_NAME=